.team-img {
    overflow: hidden;
    cursor: pointer;
    position: relative;
    max-width: 800px; 
    margin: 0 auto; 
}

.team-img .team-info {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    width: 100%; 
    padding: 20px; 
}

.team-img img {
    cursor: zoom-in;
    width: 100%;
    height: 100%;
    transition: transform 0.9s ease;
}

.team-img img:hover {
    transform: scale(1.2);
    overflow: hidden;
}